<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width", initial-scale="1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    if pageTitle
      <title>#{pageTitle}</title>
    else
     <title>"Chore App"</title>
    link(rel="stylesheet", href="/styles/main.css")
    block styles
  body
  header.main-header
    nav.main-header__nav
      ul.main-header__list
        li.main-header__list-item
          a(href='/') Home
        li.main-header__list-item
          a.active(href="/admin/add-chore") Add Chore
  block content
