extends layouts/main.pug

block styles
  link(href="/styles/pages/add-chore.css", rel="stylesheet")


block content
  main
    div
      h1.header-title Add Chores
      .form-div
        form(action="/admin/add-chore" method="post")
          div
            label(for="name")
            input(type="text" id="name" name="name" placeholder="Assigned To:")
          div
            label(for="chore")
            input(type="text" id="chore" name="chore" placeholder="Chore:")
          div
            label(for="reward")
            input(type="text" id="reward" name="reward" placeholder="Reward:")
          div
            button(type="submit") Create Chore
