.form-div {
  margin: 0.5rem;
}

input,
button {
  margin: 1.75rem 0;
}

input {
  border: none;
  border-bottom: 1px solid black;
  width: 350px;
  height: 35px;
  padding-left: 1.5rem;
}

button {
  color: white;
  background: var(--accent-color);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 175px;
  font-size: 1.25rem;
  border: 1px solid black;
}

button:hover,
button:active {
  color: var(--accent-color);
  background: white;
}
